<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="assets/css/home.css" />
</head>

<body>
    <!-- <h1>Hello World</h1> -->
    <div class="frame">
        <div class="logo reveal">
            <img src="assets/images/logo_blue_left.svg" />
        </div>
        <div class="page-content">
            <div class="main-content">
                <div class="section-container">
                    <div class="title-sequence">
                        <div class="sub-title">

                        </div>
                    </div>

                    <div class="title-wrapper reveal">
                        <h2>BRAND NEW LIFE INTO
                            <br> YACHT CHARTERING WEBSITES</h2>
                    </div>
                    <div class="title-waves reveal">
                        <span></span>
                    </div>
                    <div class="reveal">
                        <p>Yachteo™ is a concept solution created with the aim to provide a completely new user experience for
                            anyone looking to use a yacht chartering website. This concept is brought to you by fiftyseven
                            — a design studio that focuses on creating digital design for emotion and overall strategy. Our
                            idea was to give the user that creative, interactive and unique experience. The fully functional
                            product will present our exploration, decision making, and vision of what a modern yacht chartering
                            website should look like. Note: Before entering the site, be sure to read the disclaimer or watch
                            the promotional video.</p>
                    </div>
                </div>

            </div>
            <div class="bottom-container reveal">
                <a class="btn-continue">Continue to website</a>
            </div>
        </div>
    </div>

</body>
<script src="/home/controllers/homeController.js"></script>
</html>